.title {
    font-size: 120%;
    display: block;
    vertical-align: middle;
    text-align: center;
    margin-left: 2.5% ;
    color: white;
    padding: 20px;
}

input {
	margin: 2px;
}

#button-div {
	padding: 0px ! important;
	width: 100%;
}

#button {
	float: right;
	margin-right: 8px;
}

.links {
	margin-top: -24px ! important;
	height: 24px ! important;
	background-color: black;
	
	text-align: right;
}

.row #title-div.two.columns.title {
	white-space: nowrap;
}

h2 {
	margin: 0px ! important;
}

.tab {
	font-size: 24px ! important;
	padding: 2px ! important;
	margin: 2px ! important;
	border: none ! important;
}

.tab--selected {
	background-color: pink ! important;
	color: black ! important; 
	background-image: none ! important;
	border: none ! important;
	
	
}

#h1 {
	padding-left:8px;
}

#uname-box {
	margin-left: 8px;
}

.container {
	width: 100% ! important;
	padding: 0px ! important;
	margin: 0px ! important;
	max-width: none ! important;
}

#checklist {
	text-align: right;
}

	#checklist input[type="checkbox"] {
		float: right;
		margin-top: 6px;
	}

#feed {

}

#feed-1, #feed-2 {
	width: 33%;
	border-right: 1px solid black;
	border-bottom: none ! important;
	height: 100%;
	display: inline-block;
}

#feed-2 {
	background-color: #f4f4f4;
}

#filters {

}

#filters div {

}

#filters div label {
	text-align: left ! important;
	float: left;
}

#filters #title-div, #author-div, #date-div, #topic-div {
	display: inline-block;
	width: 100%;
}

#filters #topic-div, #date-div {
	padding-top: 8px ! important;
}

.feed-input {
	float: right;
	margin-right: 8px;
	width:70%;
}

#user-name {
	color: white;
	float: left;
	width: 90%;
}

#logout {
	float: right;
	padding-right: 8px;
}

#login-button {
	margin-left: 2px;
	margin-bottom: 1px;
	height: 36px;
}

.logo {
	height: 0px;
}

#header {
	width: 100%;
}

.header {
    background-color: darkred;
    align-items: center;
    display: block;
	width: 100%;
}

.custom_button {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 40px;
}

.callout {
    float: right;
}

.paper-placeholder {
	margin: 0px ! important;
	padding: 0px ! important;
}

.paper-placeholder:hover {
	background-color: lightblue;
}

.selected-paper-div {
	background-color: pink;
}

.page {
    width: 100%;
    font-family: Avenir;
    margin-left: auto;
    margin-right: auto;
}

#filters {
    margin-bottom: 50px;
}

#search-feed, #focus-feed {
    padding: 10px;
    border-right: 1px solid #ccc;
}

#display-feed ul li {
    cursor: pointer;
}

#focus-feed {
    display: none;
}

#focus-feed #radio {
    margin-top: 10px;
}

#focus-feed #radio label {
   margin-right: 10px;
   cursor: pointer;
}

#focus-feed ul li {
    position: relative;
}

#focus-feed ul li button {
    margin: 0 5px;
}

#focus-feed .index {
    position: absolute;
    top: -30px;
    right: 0px;
    font-size: 14px;
    font-weight: 100;
    color: #b1b1b1;
    font-family: 'Times New Roman'
}



