.title {
    font-size: 120%;
    display: block;
    vertical-align: middle;
    text-align: center;
    margin-left: 2.5% ;
    color: white;
    padding: 20px;
}

input {
	margin: 2px;
}

#button-div {
	padding: 23px 0px 0px 0px ! important;
}

.links {
	margin-top: -24px ! important;
	height: 24px ! important;
	background-color: black;
	
	text-align: right;
}

#title-div {
	white-space: nowrap;
}

h2 {
	margin: 0px ! important;
}

.tab {
	font-size: 24px ! important;
	padding: 2px ! important;
	margin: 2px ! important;
	border: none ! important;
}

.tab--selected {
	background-color: pink ! important;
	color: black ! important; 
	background-image: none ! important;
	border: none ! important;
	
	
}

#feed {

}

#user-name {
	color: white;
	float: left;
	width: 90%;
}

#logout {
	float: right;
	padding-right: 8px;
}

.logo {
	height: 0px;
}

.header {
    background-color: darkred;
    align-items: center;
    display: block;
}

.custom_button {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 40px;
}

.callout {
    float: right;
}

.page {
    width: 100%;
    font-family: Avenir;
    margin-left: auto;
    margin-right: auto;
}